<doctype html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: 'black',
               
            }
          }
        }
      }
    </script>
  </head>
  <body>
   
    <div class="flex h-[1200] w-full m-5 p-4 bg-blue-100 font-bold rounded-lg">
    
          
          <div class=" h-full w-[1230] ml-60 border-2 border-black">
            <div class=" h-[100] w-[1150] mt-4 ml-8  border-2 border-black">BOOKMATREIX</div>


            
  
            <div class="flex h-[100] w-[1150] mt-15 ml-8 items-center border-2 border-black">ADMIN MANAGEMENT </div>
            <div class=" h-[100] w-[1150] ml-8  border-2 border-black"> </div>
            <div class=" h-[100] w-[1150] ml-8  border-2 border-black"></div>

            <div class="flex  h-[450] w-[1150] ml-8 border-2 border-black">

            </div>
  
          </div>
  
      </div>
    </div>
  </body>
  </html>